<div class="row">
    <div class="col-sm-6 col-md-10 col-lg-10 m-auto">
<div class="card  text-center">
  <div class="card-body">
    <h1 class="card-title">DATABASE</h1>
    <p class="card-text">Database Auto</p>
    <a href="/aggiungi" class="btn btn-success btn-block">Aggiundi nuovo</a>
  </div>
</div>
</div>
</div>